#content-image {
  .chopped-image {
    margin: auto;
    border: 4px solid $loud-color;
    -webkit-border-radius: $chopped-image-size-xs;
    -moz-border-radius: $chopped-image-size-xs;
    border-radius: $chopped-image-size-xs;
    width: $chopped-image-size-xs;
    height: $chopped-image-size-xs;

    &.selected {
      .half {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
      }
    }

    .whole {
      -webkit-border-radius: $chopped-image-size-xs;
      -moz-border-radius: $chopped-image-size-xs;
      border-radius: $chopped-image-size-xs;
      border: none;
      width: $chopped-image-size-xs;
      height: $chopped-image-size-xs;
      background-size: $chopped-image-size-xs $chopped-image-size-xs;

      visibility: visible;
      opacity: 1;

      &.akira {
        background-image: url('/assets/images/akira.jpg');

        &:hover {
          background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/assets/images/akira.jpg');
        }
      }

      &.nick {
        background-image: url('/assets/images/nick.jpg');

        &:hover {
          background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/assets/images/nick.jpg');
        }
      }
    }

    .half {
      float: left;
      display: inline-block;
      -webkit-border-radius: $chopped-image-size-xs;
      -moz-border-radius: $chopped-image-size-xs;
      border-radius: $chopped-image-size-xs;
      border: none;
      width: $chopped-image-size-xs;
      height: $chopped-image-size-xs;
      background-size: $chopped-image-size-xs $chopped-image-size-xs;

      visibility: visible;
      opacity: 1;
      transition: visibility 0.5s, opacity 0.5s linear;

      &.akira {
        // background-image: url('/assets/images/akira_bw.jpg');
        background-image: url('/assets/images/akira.jpg');

        &:hover {
          // background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/assets/images/akira_bw.jpg');
          background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/assets/images/akira.jpg');
        }
      }

      &.nick {
        // background-image: url('/assets/images/nick_bw.jpg');
        background-image: url('/assets/images/nick.jpg');

        &:hover {
          // background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/assets/images/nick_bw.jpg');
          background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/assets/images/nick.jpg');
        }
      }

      &.left {
        background-position: left;
        width: (($chopped-image-size-xs / 2) - 2);
        border-radius: $chopped-image-size-xs 0 0 $chopped-image-size-xs;
        -moz-border-radius: $chopped-image-size-xs 0 0 $chopped-image-size-xs;
        -webkit-border-radius: $chopped-image-size-xs 0 0 $chopped-image-size-xs;
        border-right: 2px solid $loud-color;
      }

      &.right {
        background-position: right;
        width: (($chopped-image-size-xs / 2) - 2);
        border-radius: 0 $chopped-image-size-xs $chopped-image-size-xs 0;
        -moz-border-radius: 0 $chopped-image-size-xs $chopped-image-size-xs 0;
        -webkit-border-radius: 0 $chopped-image-size-xs $chopped-image-size-xs 0;
        border-left: 2px solid $loud-color;
      }
    }

    div {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width:481px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  #content-image {
    .chopped-image {
      -webkit-border-radius: $chopped-image-size-sm;
      -moz-border-radius: $chopped-image-size-sm;
      border-radius: $chopped-image-size-sm;
      width: $chopped-image-size-sm;
      height: $chopped-image-size-sm;

      .whole {
        -webkit-border-radius: $chopped-image-size-sm;
        -moz-border-radius: $chopped-image-size-sm;
        border-radius: $chopped-image-size-sm;
        width: $chopped-image-size-sm;
        height: $chopped-image-size-sm;
        background-size: $chopped-image-size-sm $chopped-image-size-sm;
      }

      .half {
        -webkit-border-radius: $chopped-image-size-sm;
        -moz-border-radius: $chopped-image-size-sm;
        border-radius: $chopped-image-size-sm;
        width: $chopped-image-size-sm;
        height: $chopped-image-size-sm;
        background-size: $chopped-image-size-sm $chopped-image-size-sm;

        &.left {
          width: (($chopped-image-size-sm / 2) - 2);
          border-radius: $chopped-image-size-sm 0 0 $chopped-image-size-sm;
          -moz-border-radius: $chopped-image-size-sm 0 0 $chopped-image-size-sm;
          -webkit-border-radius: $chopped-image-size-sm 0 0 $chopped-image-size-sm;
        }

        &.right {
          width: (($chopped-image-size-sm / 2) - 2);
          border-radius: 0 $chopped-image-size-sm $chopped-image-size-sm 0;
          -moz-border-radius: 0 $chopped-image-size-sm $chopped-image-size-sm 0;
          -webkit-border-radius: 0 $chopped-image-size-sm $chopped-image-size-sm 0;
        }
      }
    }
  }
}

@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  #content-image {
    .chopped-image {
      -webkit-border-radius: $chopped-image-size-lg;
      -moz-border-radius: $chopped-image-size-lg;
      border-radius: $chopped-image-size-lg;
      width: $chopped-image-size-lg;
      height: $chopped-image-size-lg;

      .whole {
        -webkit-border-radius: $chopped-image-size-lg;
        -moz-border-radius: $chopped-image-size-lg;
        border-radius: $chopped-image-size-lg;
        width: $chopped-image-size-lg;
        height: $chopped-image-size-lg;
        background-size: $chopped-image-size-lg $chopped-image-size-lg;
      }

      .half {
        -webkit-border-radius: $chopped-image-size-lg;
        -moz-border-radius: $chopped-image-size-lg;
        border-radius: $chopped-image-size-lg;
        width: $chopped-image-size-lg;
        height: $chopped-image-size-lg;
        background-size: $chopped-image-size-lg $chopped-image-size-lg;

        &.left {
          width: (($chopped-image-size-lg / 2) - 2);
          border-radius: $chopped-image-size-lg 0 0 $chopped-image-size-lg;
          -moz-border-radius: $chopped-image-size-lg 0 0 $chopped-image-size-lg;
          -webkit-border-radius: $chopped-image-size-lg 0 0 $chopped-image-size-lg;
        }

        &.right {
          width: (($chopped-image-size-lg / 2) - 2);
          border-radius: 0 $chopped-image-size-lg $chopped-image-size-lg 0;
          -moz-border-radius: 0 $chopped-image-size-lg $chopped-image-size-lg 0;
          -webkit-border-radius: 0 $chopped-image-size-lg $chopped-image-size-lg 0;
        }
      }
    }
  }
}
