header {
  padding: 20px 15px;
  flex-grow: 0;

  // background: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5));
  // color: #222;

  a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;

    svg {
      position: relative;
      top: 5px;

      stroke: $loud-color;
    }

    &:active {
      color: #FFF;
      text-decoration: none;
    }

    &:visited {
      color: #FFF;
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }

    &.logo {
      color: inherit;
      font-size: 30px;

      &:hover {
        color: #F3F3F3;
      }
    }
  }
}
